body{
    background-color: aliceblue
}
h1{
    font-size: 60px;
    color: black;
    text-align: center;
}
p{
    font-size: 30px;
    color: black;
    text-align: justify;
}
img{
    width: 450px;
    height: 340px;
    margin: 30px;
    margin-left: 130px;
}
.cabecalho{
    background-color:rgb(251, 5, 5);
    display: flex;
}
.logocabecalho{
    width: 150px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 100px;
}
.item_lista_cabecalho{
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-left: 30px;
    list-style: none;
}